.bntCriarProjeto{
    width: 420px;
    padding: 16px;
    margin-top: 30px;
    font-size: 16px;
    text-align: left;
    background-color: #6a8fca;
    color: white;
    border: none;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px black;
}

.bntCriarProjeto:hover{
    background-color: #2980b9;
    transform: scale(1.1);
}