.detalhesProjetos{
    box-sizing: border-box;
    padding-top: 2em;
}

.detalhesProjetos h1,
.detalhesProjetos h2,
.detalhesProjetos p{
    margin-bottom: 0.5em;
}


.detalhesProjetos h1{
    background-color: #6a8fca;
    color: #fff;
    padding: .6em;
    border-radius: 7px;
}

.detalhesProjetos span {
    font-weight: bold;
}

.serviceFomContainer,
.containerDetalhes{
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.btnnewproject {
    padding: 7px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    background-color: #3498db;
    color: white;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
  
  .btnnewproject:hover {
    background-color: #5b83aa;
  }
  

  .infoProject{
    width: 100%;
    
  }