.footer {
  background-color: #293040;
  color: #fff;
  padding: 2em;
  text-align: center;
  margin-top: 39em
}

.social_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list li {
  margin: 0 1em;
}

.social_list li:hover {
  color: #b8b8c8;
}

.social_list svg {
  font-size: 1.5em;
  cursor: pointer;
}

.copy_right {
  margin-top: 2em;
}

.copy_right span {
  font-weight: bold;
  color: #b8b8c8;
}
