.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #6a8fca;
    padding: 1em;
  }
  
img{
  padding: .5%;
  width: 24%;
}

  .list {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .item {
    margin-right: 2em;
    font-size: 20px;
  }
  
  .item a {
    color: #fff;
    text-decoration: none;
  }
  
  .item a:hover {
    color: #51c2ec;
    text-decoration: none;
  }